@use "../generic/variables" as *;
@use "../generic/mixins" as *;

.cta-section {
	@include section-theme("gray");
	padding: spacing("4xl") 0;
	text-align: center;

	&__container {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 spacing("md");
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		@include h2;
		margin-bottom: spacing("md");
	}

	&__description {
		font-size: font-size("lg");
		margin-bottom: spacing("xl");
		opacity: 0.95;
	}
}
