@use "./generic/load";
@use "./components/btn";
@use "./components/header";
@use "./components/badges";

@use "./sections/hero";
@use "./sections/highlight-testimonial";
@use "./sections/services";
@use "./sections/cta-section";
@use "./sections/areas-we-serve";
@use "./sections/testimonials";
@use "./sections/faq";
//
@use "./components/footer";
