@use "./generic/load";
@use "./components/btn";
@use "./components/header";
@use "./components/forms";
@use "./components/badges";

@use "./sections/hero";
@use "./sections/highlight-testimonial";
@use "./sections/services";
@use "./sections/cta-section";
//
@use "./components/footer";
