@use "../generic/variables" as *;
@use "../generic/mixins" as *;

.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	padding: spacing("sm") spacing("md");

	&__container {
		border-radius: radius("lg");
		gap: spacing("sm");
		max-width: 1200px;
		margin: 0 auto;
		padding: spacing("sm") spacing("md");
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__group {
		display: flex;
		align-items: center;
		gap: spacing("md");
	}

	&__logo {
		flex-shrink: 0;

		a {
			display: inline-block;
			text-decoration: none;
		}

		&-img {
			max-height: 40px;
			width: auto;
			display: block;

			@include min(769) {
				max-height: 48px;
			}
		}
	}



	&__cta {
		flex-shrink: 0;
	}
}
