@use "variables" as *;
@use "fonts" as *;
@use "mixins" as *;

html {
	font-feature-settings: "ss04" on, "ss05" on;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: font-family("secondary");
	color: text-color("body");
	background-color: bg-color("white");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: line-height("normal");
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Typography Standardization
h1 { @include h1; margin-bottom: spacing("sm"); }
h2 { @include h2; margin-bottom: spacing("sm"); }
h3 { @include h3; margin-bottom: spacing("sm"); }
h4 { @include h4; margin-bottom: spacing("sm"); }

h5 {
	font-family: font-family("primary");
	font-size: font-size("xl");
	font-weight: 700;
	color: text-color("heading");
	margin-bottom: spacing("sm");
}

h6 {
	font-family: font-family("primary");
	font-size: font-size("lg");
	font-weight: 700;
	color: text-color("heading");
	margin-bottom: spacing("sm");
}

p {
	font-size: font-size("md");
	line-height: line-height("relaxed");
	margin-bottom: spacing("md");
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
	color: $link-color;
	transition: color 0.3s ease;

	&:hover {
		color: $link-color-hover;
	}
}

.container-heading {
	display: flex;
	flex-direction: column;
	gap: spacing("xs");
	margin-bottom: spacing("xl");

	&--center {
		align-items: center;
		text-align: center;
	}

	&--right {
		align-items: flex-end;
		text-align: right;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 0;
	}

	> * + * {
		margin-top: spacing("xs");
	}
}

strong {
	font-weight: 700;
}
