@use "./variables" as *;
@use "./mixins" as *;

// Visibility Utilities
.mobile-only {
	@include max($mobile) {
		display: block;
	}

	@include min($tablet) {
		display: none !important;
	}
}

.tablet-only {
	@include max($mobile) {
		display: none;
	}

	@include between($tablet, 1024) {
		display: block;
	}

	@include min(1025) {
		display: none;
	}
}

.desktop-only {
	@include max($tablet) {
		display: none !important;
	}

	@include min($tablet) {
		display: block;
	}
}
