@use "variables" as *;
@use "mixins" as *;

[class*="_container"],
.container {
	max-width: 1280px;
	width: 100%;
	padding: 0 spacing("6xl");
	margin: 0 auto;

	@include max($tablet) {
		padding: 0 spacing("4xl");
	}
}
