@use "./_variables.scss" as *;
@use "./mixins.scss" as *;

body {
	font-family: font-family("body");
	font-size: font-size("md");
	line-height: line-height("md");
	background-color: bg-color("primary");
	color: text-color("primary");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

br {
	@include max($tablet) {
		display: none;
	}
}
